{% extends 'layout.html' %}
{% load humanize %}
{% block layout-content %}

<p><a href="{% url "portal" student.id %}">
		⬅️ Back to portal</a></p>
<div class="alert alert-info">
	If you have problems to suggest for this unit,
	please use the <a href="{% url "suggest-new" %}">problem suggestion form</a>.
</div>

{% if pending_psets %}
<h2>Pending submissions</h2>
<table class="table">
	{% for pset in pending_psets %}
	<tr>
		<td>{{pset.clubs}}♣</td>
		<td><a href="{{pset.get_absolute_url}}">{{ pset.unit }}</td>
		<td>{{ pset.upload.created_at|naturaltime }}</td>
		<td><a href="{% url "resubmit-pset" pset.pk %}">Edit</a></td>
	</tr>
	{% endfor %}
</table>
{% endif %}

<h2>Submit new problem set</h2>
{% include "generic-form.html" %}

<hr />

<h2>Approved submissions</h2>
{% if approved_psets %}
<table class="table">
	{% for pset in approved_psets %}
	<tr>
		<td>{{pset.clubs}}♣</td>
		<td><a href="{{pset.get_absolute_url}}">{{ pset.unit }}</td>
		<td>{{ pset.upload.created_at|naturaltime }}</td>
		<td><a href="{% url "resubmit-pset" pset.pk %}">Resubmit</a></td>
	</tr>
	{% endfor %}
</table>
{% else %}
<p>You haven't submitted any problem sets yet this year.</p>
{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(() => {
		$("select").chosen();
	});
</script>
{% endblock %}
